.block {
  height: 100%;
  border: 2px solid rgb(224, 226, 233);
  padding: 10px 25px;
  border-radius: 10px;
  background: white;
}
.block.start {
  border: 2px solid #1db7ad;
}
.block.start .title,
.block.start .icon {
  color: #1db7ad;
}

.blockHeader {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.icon {
  margin-right: 10px;
}
.title {
  max-width: 400px;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
}
.question {
  transition: all 0.3s ease;
  margin-top: 10px;
  font-weight: 500;
  max-width: 400px;
  word-break: break-all;
  word-break: break-word;
  
  background-color: rgb(224, 226, 233);
  padding: 10px;
  border-radius: 5px;
}
.question:hover {
  background-color: rgb(116, 117, 123);
  color: white;
}
