.gridСontainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ); /* три колонки равной ширины */
  grid-gap: 20px; /* промежуток между карточками */
}

.pag ul{
  justify-content: center; 
}
