.container {
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  border: 3px solid grey;
}
.container:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 2px #0a192f;
}
.name,
.email {
  font-style: italic;
}
.name span,
.email span {
  font-style: normal;
  font-weight: 600;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 610px) {
  .row {
    display: block;
  }
  .buttons {
    margin-top: 10px !important;
  }
}

.buttons{
  display: flex;
}
.editBtn,
.deleteBtn {
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: pointer;
}
.editBtn {
  margin-right: 3px;
  color: white;
  background-color: rgb(40, 82, 39);
}

.editBtn:hover {
  color: white;
  background-color: rgb(34, 70, 33);
}

.deleteBtn {
  color: white;
  background-color: rgb(135, 51, 51);
}
.deleteBtn:hover {
  color: white;
  background-color: rgb(104, 41, 41);
}
