.btns {
  display: flex;
}
.addBtn,
.closeBtn,
.editBtn {
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: pointer;
}

.addBtn {
  padding: 10px 20px;
  background-color: rgb(31, 64, 104);
  color: white;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addBtn:hover {
  background-color: rgb(10, 25, 47);
}

.editBtn {
  margin-left: 3px;
  text-align: center;
  flex: 1 1 auto;
  color: white;
  background-color: rgb(40, 82, 39);
}

.editBtn:hover {
  color: white;
  background-color: rgb(34, 70, 33);
}

.closeBtn {
  color: white;
  background-color: rgb(135, 51, 51);
}
.closeBtn:hover {
  color: white;
  background-color: rgb(104, 41, 41);
}
