.addQuestionbtn {
  padding: 10px 20px;
  background-color: rgb(31, 64, 104);
  color: white;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.addQuestionbtn:hover {
  background-color: rgb(10, 25, 47);
}
.buttons {
  display: flex;
}
.save,
.close {
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  /* background-color: rgb(224, 226, 233); */
  cursor: pointer;
  transition: all 0.3s ease;
}

.save {
  margin-left: 3px;
  text-align: center;
  flex: 1 1 auto;
  color: white;
  background-color: rgb(40, 82, 39);
}

.close {
  color: white;
  background-color: rgb(135, 51, 51);
}
.close:hover {
  color: white;
  background-color: rgb(104, 41, 41);
}

.save:hover {
  color: white;
  background-color: rgb(34, 70, 33);
}
