.container {
  padding: 10px;
  border: 2px solid rgb(224, 226, 233);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.container:hover {
  border: 2px solid grey;
}
